<header>
    <img src="src/img/logo.svg">
    <div class="nav">
        <a href="index.php">Главная</a>
        <a href="catalog.php">Каталог</a>
        <a href="doc.php">Документация</a>
        <a href="contacts.php">Контакты</a>
    </div>

    <div class="dropdown" style="float:right;">
        <button class="dropbtn"><img src="src/img/btn_lk.svg"></button>
        <div class="dropdown-content">
            <a href="./admin.php">Панель администратора</a><hr>
            <a href="./allproducts.php">Список товаров</a><hr>
            <a href="server/_exit.php">Выйти</a>
        </div>
    </div>
</header>